# Build
build/
cmake-build-*/
out/

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.cmake
!CMakeLists.txt

# Compiled
*.o
*.obj
*.a
*.lib
*.so
*.dylib
*.exe
*.out
*.app
.cache/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# macOS
.DS_Store

# Optional (раскомментируй, если не хочешь коммитить)
# compile_commands.json
